
*{
  /*border: 2px solid red;*/
  background-color: #5A5B66;
  font-family: serif;
}

.header{
  color: #000567;
}

a{
  color: #000567;
}

.a-nav{
  color: #000567;
  background-color: #FFCC00;
}

.nav-table, th{
  padding: 10px;
  /*border: 5px solid red;*/
  background-color: #FFCC00;
  color: #000567;
  border-radius:5%;
  font-size: 24px;
  border-spacing:12px;
}


.header_image{
text-align: right;
border-radius: 25%;

}

.side-by-side{
  display: -webkit-flex;
  display: flex;
}

.image-with-title{
  text-align: center;
  height: 200px;
  width: 200px;
}

.imageRotate180 /*Derived from https://www.computerhope.com/issues/ch001784.htm*/
{
-webkit-transform:rotate(180deg);
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-o-transform: rotate(180deg);
transform: rotate(180deg);

}






/*.nav-button{
  background-color: #FFCC00;
  padding-right:25px;
  padding-left:25px;
  text-align:center;
  display:flex;
  border-radius:15%

}*/
